@font-face {
  font-family: "Poppins-regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  font-family: Poppins-regular;
}
img {
  width: 100%;
  height: auto;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 48px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
a {
  font-size: 14px;
  text-decoration: none;
}
ul li {
  font-size: 16px;
  list-style: none;
}
/* navbar */

.navbar {
  background-color: #133159;
  padding: 0 0 0 33px;
}
.navbar .nav-wrapper .brand-logo {
  display: flex;
}
.navbar .nav-wrapper .brand-logo img {
  margin-top: 12px;
}
.navbar .nav-wrapper ul {
  margin-top: 10px;
}
.navbar .nav-wrapper ul li a:hover {
  background-color: unset !important;
}
.navbar .nav-wrapper ul li svg {
  margin-bottom: 10px !important;
}
.admin img {
  max-height: 41px;
  max-width: 41px;
}
.admin {
  margin-left: -22px;
}
.designation {
  font-size: 18px;
  margin-top: -15px;
}
.a-email {
  margin-top: -50px;
  font-size: 12px;
}
.search-box {
  display: flex;
  margin-top: 3px;
  margin-right: 35px;
}
.a-details-arrow {
  margin-left: -20px;
}

input.search-field {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  border: 0;
  border-radius: 5px;
  height: 36px;
  padding: 8px 15px;
  width: 300px;
  background: #f7f7f7;
  transition: background 0.2s, width 0.2s;
}
input.search-field:hover {
  background: #ebebeb;
}
.searchbox {
  position: relative;
}
::placeholder {
  color: #546376;
  opacity: 0.6;
}
input.search-field:focus {
  outline: none;
  width: 500px;
  color: #212121;
}
input.search-field:focus:hover {
  background: #e5e8ef, 100%;
}
.search-icon {
  position: absolute;
  top: 0;
  margin-left: -35px;
  color: rgba(0, 0, 0, 0.54);
}
#logo-text {
  display: none;
}
.a-panel .col {
  padding: 0 !important;
}

/* side navbar */

.side-nav ul {
  display: flex;
  flex-direction: column;
  padding: 35px 20px 0 35px !important;
  background: #133159;
}
.side-nav ul li {
  margin-bottom: 30px;
}
.side-nav ul li a {
  font-size: 16px !important;
  color: #fff !important;
}
.side-nav ul li:hover {
  background-color: #3c7ef3 !important;
  padding: 10px 15px;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: -15px;
  width: 100%;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 260px !important;
  overflow: visible;
}

.main-menu {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  width: 85px !important;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}
.main-menu li {
  position: relative;
  display: block;
  width: 260px;
}
.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  margin-left: 20px;
  font-family: "Titillium Web", sans-serif;
}
.main-menu li a {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

.stats {
  margin-top: 25px;
}
.side-nav ul .stats:hover {
  background: #133159 !important;
  margin-top: 15px;
}
.deal {
  padding: 15px 30px !important;
  margin-left: 30px;
}
.deal-body {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
}
.deal-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.deal-top h6 {
  font-weight: 500;
}
.d-t-right {
  display: flex;
  justify-content: flex-end;
}
.d-t-right svg {
  cursor: pointer;
}
.create-btn {
  background-color: #3c7ef3;
  border-radius: 5px;
  margin: 0 20px;
}
.create-btn:hover {
  background-color: #3c7ef3;
}
.create-btn i {
  margin-top: 4px;
}
.settings-btn {
  background-color: #3c7ef3;
  border-radius: 5px;
  margin-right: 20px;
}
.settings-btn:hover {
  background-color: #3c7ef3;
}
.settings-btn i {
  margin-top: 4px;
}
.deal-hr {
  border: 1px solid #e5e8ef;
  margin: 20px 0;
  border-bottom: none;
}
.deal-filter {
  display: flex;
  gap: 20px;
}
.filter-one {
  max-height: 40px;
  font-size: 16px;
  color: #546376;
  max-width: 300px;
  border: 1px solid #546376;
  border-radius: 6px;
}
.filter-two {
  max-height: 40px;
  font-size: 16px;
  color: #546376;
  max-width: 128px;
  border: 1px solid #546376;
  border-radius: 6px;
}
.picker {
  border: 1px solid #546376;
  border-radius: 6px;
}

.picker svg {
  margin: 5px;
}
.picker .calender {
  margin: 6px;
}
.picker .c-arrow {
  margin: 15px 10px;
}
.searchbar {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.searchbar input {
  border: 1px solid #546376;
  border-radius: 20px;
  width: 273px;
  padding: 0 18px;
  color: #a6acbe;
}
.searchbar i {
  position: absolute;
  padding: 8px 0px;
}

/* main dashboard */

.deal-dashboard {
  background-color: #f6f7fb;
  margin: 30px 0px;
  padding: 20px;
  border-radius: 10px;
}
.d-d-top {
  background: rgba(60, 126, 243, 0.1);
  border-radius: 10px;
  padding: 11px 30px 1px 30px;
}
.d-d-top .row .col .col-bottom::after {
  content: url("../images/Rectangle\ 2853.png");
  margin-right: 6px;
}
.name {
  font-weight: 600;
  color: #333333;
  margin-bottom: -36px;
}
.col-bottom {
  display: flex;
  align-items: center;
  margin-bottom: -28px;
}
.col-bottom svg {
  cursor: pointer;
}
.col-bottom .deal-plus {
  margin-left: auto;
  margin-top: -25px;
  margin-right: 10px;
}
.d-quantity {
  color: #8896a8;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin: 0 20px;
}
.d-d-mid {
  overflow: scroll;
  overflow-y: hidden;
}
.d-d-mid .row {
  margin: 20px 0;
  display: flex;
  gap: 8px;
}
.d-d-sec-col {
  border: none !important;
  padding: 10px 0px 0px 0px !important;
  overflow: hidden !important;
}
.d-d-mid .row .col {
  border: 1px solid #e5e8ef;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 600px;
}
.d-d-mid .row .col .deals {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.d-m-name {
  font-weight: 600;
}
.d-m-name span {
  color: #3c7ef3;
  margin-left: 3px;
  font-weight: normal;
}
.time {
  margin: 9px 0 20px 0;
  color: #8896a8;
}
.d-m-icons {
  display: flex;
  gap: 10px;
}
.d-m-icons svg {
  cursor: pointer;
}
.d-m-i-arrow {
  margin-left: 25px;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(60, 126, 243, 0.1);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #133159;
  border-radius: 10px;
}

.add-deal-col {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-deals p {
  color: #8896a8;
}
.add-deals {
  cursor: pointer;
}
.add-deals h6 {
  font-size: 15px !important;
  display: flex;
  align-items: center;
}
.d-d-bottom .row .col a {
  display: flex;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #ff5858;
  border-radius: 6px;
  color: #ff5858;
  box-shadow: none !important;
}
.d-d-bottom {
  margin-top: 15px;
}

.header-menu-bar {
  display: none;
}
.d-d-bottom .row {
  display: flex;
  gap: 20px;
  margin-left: auto;
}
.m-deals {
  display: none;
}
.m-date {
  display: none;
}
.des-none {
  display: none !important;
}

/* responsive for mobile */

@media only screen and (max-width: 767px) {
  .header-menu-bar {
    display: block;
    padding: 10px 0;
  }
  .header-menu-bar svg {
    max-height: 30px;
  }
  #logo-text {
    display: none;
  }
  .navbar {
    padding: 0;
  }
  .mb-nav {
    background: #fff;
    float: none !important;
    margin-left: 10px;
  }
  .search-box {
    margin-bottom: 20px;
  }
  .side-nav {
    position: absolute;
    left: -400px !important;
    width: 100% !important;
    transition: 0.3s;
  }
  .mb-sidenav {
    left: 0 !important;
  }
  .d-d-top {
    display: none;
  }
  .deal-top {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .deal-top h6 {
    margin-left: 0 !important;
  }
  .d-t-right {
    display: inline-block;
    margin-left: 0 !important;
  }
  .create-btn {
    margin: 10px 0;
  }
  .deal-filter {
    flex-direction: column;
  }
  .filter-one {
    max-width: 100%;
  }
  .filter-two {
    max-width: 100%;
  }
  .m-date {
    display: flex;
    height: 40px;
  }
  .m-search {
    width: 100% !important;
  }
  .mb-none {
    display: none;
  }
  .deal-body {
    margin-left: 0;
  }
  .d-d-mid .row {
    flex-direction: column;
  }
  .d-d-bottom .row {
    flex-direction: column;
  }
  .m-deals {
    display: block;
    background: rgba(60, 126, 243, 0.1) !important;
  }
  .m-name {
    font-weight: 600;
    color: #333333;
    margin-bottom: 0;
  }
  .m-col-bottom {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }

  .m-col-bottom svg {
    cursor: pointer;
  }
  .m-col-bottom .deal-plus {
    margin-left: auto;
    margin-top: -25px;
    margin-right: 10px;
  }
  input.search-field:focus {
    width: 300px;
  }
  input.search-field:focus:hover {
    background: #e5e8ef, 100%;
  }
  .search-icon {
    display: none;
  }
}

/* for ipad & ipad pro */

@media screen and (max-width: 1300px) and (min-width: 768px) {
  .header-menu-bar {
    display: block;
    padding: 10px 0;
  }
  .header-menu-bar svg {
    max-height: 30px;
  }
  #logo-text {
    display: none;
  }
  .navbar {
    padding: 0;
  }
  .mb-nav {
    background: #fff;
    float: none !important;
    margin-left: 10px;
  }
  .search-box {
    margin-bottom: 20px;
  }
  .side-nav {
    position: absolute;
    left: -1100px !important;
    width: 100% !important;
    transition: 0.3s;
  }
  .deal {
    width: 100%;
  }
  .mb-sidenav {
    left: 0 !important;
  }
  .d-d-top {
    display: none;
  }
  .deal-top {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .deal-top h6 {
    margin-left: 0 !important;
  }
  .d-t-right {
    display: inline-block;
    margin-left: 0 !important;
  }
  .create-btn {
    margin: -20px 0 10px 0;
  }
  .settings-btn {
    margin: -20px 0 10px 0;
  }
  .deal-filter {
    flex-direction: column;
  }
  .filter-one {
    max-width: 100%;
  }
  .filter-two {
    max-width: 100%;
  }
  .m-date {
    display: flex;
    height: 40px;
  }
  .m-search {
    width: 100% !important;
  }
  .mb-none {
    display: none;
  }
  .deal-body {
    margin-left: 0;
  }
  .m-deals {
    display: block;
    background: rgba(60, 126, 243, 0.1) !important;
  }
  .m-name {
    font-weight: 600;
    color: #333333;
    margin-bottom: 0;
  }
  .m-col-bottom {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }

  .m-col-bottom svg {
    cursor: pointer;
  }
  .m-col-bottom .deal-plus {
    margin-left: auto;
    margin-top: -25px;
    margin-right: 10px;
  }
  input.search-field:focus {
    width: 300px;
  }
  input.search-field:focus:hover {
    background: #e5e8ef, 100%;
  }
  .search-icon {
    display: none;
  }
  .d-d-mid .row {
    display: block;
  }
  .d-d-bottom .row {
    display: block;
  }
}
